<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="UserStory_101">

	<parameter name="browserName" value="FF" />
	<parameter name="url" value="https://en-gb.facebook.com/" />
	<parameter name="userName" value="USER101" />
	<parameter name="password" value="Pass@123" />


	<test name="Regrassion">
		<classes>
			<class name="parametrization.SampleParameter" />
			<class name="parametrization.Sample2" />
		</classes>
	</test>

</suite> <!-- Suite -->
